body, html {
    height: 100vh;
}

#backgroundCol {
    background-color: #3f003f;
}

.btn-primary {
    background-color: #3f003f;
    border-color: #3f003f;
}

.nav-background {
    background-color: #3f003f;
}

.incident-cards {
    width: 25rem;
    height: 25rem;
}

.incident-card-body {
    padding-top: 9rem;
}

.assignment-card {
    width: 25rem;
    height: 18rem;
}

.assignment-card-body {
    padding-top: 7rem;
}

.table-primary th {
    background-color: #3f003f;
    color: white;
}