<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>BSAD-APP</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet" type="text/css"/>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark nav-background">
    <span class="navbar-brand mb-0 h1">DWK</span>
</nav>
<h2 style="padding-top: 5pt; padding-left: 5pt;">Welcome, Michelle Ford</h2>
<div class="container-fluid" style="height: calc(100% - 56px);">
    <div class="row h-60 align-items-center justify-content-center">
        <div class="col p-5">
            <div class="card incident-cards mx-auto">
                <div class="card-body incident-card-body">
                    <h3 class="card-text text-center">View Incident Assignments</h3>
                    <button class="btn btn-primary btn-block" type="button" onclick="window.location='Incident/NewIncident/index.html';">View</button>
                </div>
            </div>
        </div>
        <div class="col p-5">
            <div class="card incident-cards mx-auto">
                <div class="card-body incident-card-body">
                    <h3 class="card-text text-center">View All Incidents</h3>
                    <button class="btn btn-primary btn-block" type="button" onclick="window.location='Incident/AllIncidents/index.html';">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
