body, html {
    height: 100vh;
}

#backgroundCol {
    background-color: #3f003f;
}

.btn-primary {
    background-color: #3f003f;
    border-color: #3f003f;
}

.nav-background {
    background-color: #3f003f;
}